body {
  background-color: #0f0f0f;
  color: #f0f0f0;
}

.App {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.contact {
  font-weight: bold;
  vertical-align: middle;

}


.iglogo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.logo {
  width: 100px;
}

.nonSticky {
  height: 120px;
}

.is-sticky .ReactStickyHeader_fixed{
  background-color: #0f0f0f;
}

.ReactStickyHeader_fixed {
  z-index: 1;
}

.ReactStickyHeader_root > div{
  z-index: 0;
}

.ReactStickyHeader_midground{
  z-index: 0;
}

footer {
  margin-top: 50px;
}